/* //reset css */
* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  word-wrap: break-word;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a,
button {
  outline: 0;
  border: 0;
  cursor: pointer;
}
a::-moz-focus-inner {
  border: 0;
}
a,
a:active,
a:focus,
a:hover {
  outline: 0;
  text-decoration: none;
}
img {
  border: 0;
  max-width: 100%;
  display: block;
}
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
}
ul {
  margin-bottom: 0;
}

.cubic {
  transition: 0.5s all cubic-bezier(0.25, -1, 0.5, 2);
}

.quick {
  transition: 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}
.block {
  display: block;
}
.m0 {
  margin: 0;
}
.p0 {
  padding: 0;
}
.clearfix:after,
.clearfix:before {
  content: "\0020";
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.left {
  float: left;
}
.right {
  float: right;
}
.center {
  text-align: center;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.t-right {
  text-align: right;
}
.ttu {
  text-transform: uppercase;
}
.v-center {
  display: inline-block;
  vertical-align: middle;
}
.ib {
  display: inline-block;
}
.rel {
  position: relative;
}
.w100p {
  width: 100%;
}
.ovh {
  overflow: hidden;
}
.one-line-txt {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.center-img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 80%;
  max-height: 80%;
}
ul,
ol {
  list-style-type: none;
}

a,
img,
button {
  outline: none;
  border: 0;
  background: transparent;
}

a::-moz-focus-inner {
  border: 0;
}

a,
a:hover,
p a:active,
a:focus {
  color: inherit;
  outline: none;
  text-decoration: none;
}

input,
textarea,
button {
  appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  outline: none;
  border: none;
  font-family: inherit;
  border-radius: 0;
}

::-webkit-scrollbar {
  background: white;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #008779;
  transition: 0.3s all ease-in-out;
}
::-webkit-scrollbar-thumb:hover {
  background: #cf9e69;
}
/* // */

html,
body {
  background: #efefef;
  height: 100%;
  font-family: "DM Sans", sans-serif;
}
body {
  animation: fadeIn 1.2s ease-in-out forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#center-text {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#chat-circle {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background: #f5821f;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: white;
  padding: 25px;
  cursor: pointer;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.6),
    0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
#chat-circle svg {
    width: 30px;
    height: 30px;
    margin: auto;
}
.btn#my-btn {
  background: white;
  padding-top: 13px;
  padding-bottom: 12px;
  border-radius: 45px;
  padding-right: 40px;
  padding-left: 40px;
  color: #5865c3;
}
#chat-overlay {
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: none;
}

.chat-box {
  display: none;
  background: #efefef;
  position: absolute;
  right: 30px;
  bottom: 50px;
  width: 416px;
  max-width: 85vw;
  max-height: 100vh;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 5px 35px 9px #ccc;
}

.chat-box-toggle {
    cursor: pointer;
    position: absolute;
    top: 15px;
    z-index: 1;
    right: 15px;
}

.chat-box-header {
  background: linear-gradient(123.75deg, #f5821f 1.87%, #ff5c00 120.46%);
  border-radius: 20px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  color: white;
  font-size: 20px;
  padding: 50px 15px 150px 50px;
}
.chat-box-body {
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;

  margin: -100px 15px 15px;
  position: relative;
  height: 400px;
  height: 100%;
  background: #ffffff;
  border: 1px solid #e4e4e4;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  /* overflow: hidden; */
}
/* .chat-box-body:after {
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height:10%;
    background:linear-gradient(123.75deg, #F5821F 1.87%, #FF5C00 120.46%);
    position: absolute;
    z-index: -1;   
  } */
#chat-input {
  background: #f4f7f9;
  width: 100%;
  position: relative;
  height: 47px;
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-left: 15px;
  border: none;
  resize: none;
  outline: none;
  border: 1px solid #ccc;
  color: #888;
  border-top: none;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
}
.chat-input > form {
  margin-bottom: 0;
}
#chat-input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ccc;
}
#chat-input::-moz-placeholder {
  /* Firefox 19+ */
  color: #ccc;
}
#chat-input:-ms-input-placeholder {
  /* IE 10+ */
  color: #ccc;
}
#chat-input:-moz-placeholder {
  /* Firefox 18- */
  color: #ccc;
}
.chat-submit {
  position: absolute;
  bottom: 3px;
  right: 10px;
  background: transparent;
  box-shadow: none;
  border: none;
  border-radius: 50%;
  color: #5a5eb9;
  width: 35px;
  height: 35px;
}
.chat-logs {
  padding: 15px;
  height: 370px;
  overflow-y: scroll;
}

.chat-logs::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.chat-logs::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.chat-logs::-webkit-scrollbar-thumb {
  background-color: #5a5eb9;
}

@media only screen and (max-width: 500px) {
  .chat-logs {
    height: 40vh;
  }
}

.chat-msg.user > .msg-avatar img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  float: left;
  width: 15%;
}
.chat-msg.self > .msg-avatar img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  float: right;
  width: 15%;
}
.cm-msg-text {
  background: white;
  padding: 10px 15px 10px 15px;
  color: #666;
  max-width: 75%;
  float: left;
  margin-left: 10px;
  position: relative;
  margin-bottom: 20px;
  border-radius: 30px;
}
.chat-msg {
  clear: both;
}
.chat-msg.self > .cm-msg-text {
  float: right;
  margin-right: 10px;
  background: #5a5eb9;
  color: white;
}
.cm-msg-button > ul > li {
  list-style: none;
  float: left;
  width: 50%;
}
.cm-msg-button {
  clear: both;
  margin-bottom: 70px;
}

.chat-start-button {
  padding: 10px;
  border: 1px solid #d1d1d1;
  border-radius: 100px;
  display: block;
  max-width: 290px;
  margin: auto;
  text-align: center;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  transition: 0.5s all cubic-bezier(0.815, 1.65, 0.4, 0.68);
}
.chat-start-button:hover {
  box-shadow: none;
}
.chat-start-button svg {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
img {
  display: block;
  border: 0;
  max-width: 100%;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

.chat-box-body .bot-logo {
  padding: 18px 15px 18px 15px;
  background: linear-gradient(180deg, #ff7600 0%, #ff5c00 100%);
  width: 66px;
  height: 66px;
  border-radius: 50%;
  position: relative;
  margin-top: -33px;
  left: 0;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}
.chat-box-body .bot-logo svg {
  width: 36px;
  height: 30px;
}
ul li:last-child {
  margin-bottom: 30px;
}
.faq-list {
  position: relative;
  border: 1px solid #e1e1e1;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  margin: 10px 0;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
}
.faq-list::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  left: 9px;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  background: rgba(255, 118, 0, 0.8);
  box-shadow: 0 0 0px 3px rgba(255, 118, 0, 0.3);
}

.bot-name {
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
}
.bot-greet {
  font-weight: bold;
  font-size: 22px;
  line-height: 29px;
}
.bot-greet span {
  margin-left: 20px;
}
.bot-msg {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}
.chat-box-header p {
  padding-top: 8px;
  padding-bottom: 8px;
}

.fq {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  margin-top: 15px;
}
/* Transition Delayed */

.chat-box.active .chat-box-header,
.chat-box.active .bot-name,
.chat-box.active .chat-box-toggle,
.chat-box.active .bot-greet,
.chat-box.active .bot-msg,
.chat-box.active .fq,
.chat-box.active ul li,
.chat-box.active .chat-start,
.chat-box.active .chat-box-body {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}
.chat-box.active .chat-box-header {
  animation-delay: 0.25s;
}

.chat-box.active .bot-name {
  animation-delay: 0.75s;
}

.chat-box.active .bot-greet {
  animation-delay: 1.25s;
}
.chat-box.active .bot-msg {
  animation-delay: 1.5s;
}
.chat-box.active .chat-box-body {
  animation-delay: 2s;
}
.chat-box.active .fq {
  animation-delay: 2.5s;
}
.chat-box.active ul li:nth-child(1) {
  animation-delay: 3.25s;
}
.chat-box.active ul li:nth-child(2) {
  animation-delay: 3.75s;
}
.chat-box.active ul li:nth-child(3) {
  animation-delay: 4.25s;
}
.chat-box.active ul li:nth-child(4) {
  animation-delay: 4.75s;
}
.chat-box.active .chat-box-toggle,
.chat-box.active .chat-start {
  animation-delay: 5.5s;
}
/* Media Query For Mb */
@media screen and (max-width: 767px) {
  .chat-box-header {
    padding: 30px 15px 140px 30px;
  }
  .chat-start-button {
    font-size: 14px;
  }
  .chat-box-body {
    padding: 0 15px 15px;
  }
}
