* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  word-wrap: break-word;
  -webkit-tap-highlight-color: transparent;
}
a,
button {
  outline: 0;
  border: 0;
  cursor: pointer;
}
a::-moz-focus-inner {
  border: 0;
}
a,
a:active,
a:focus,
a:hover {
  outline: 0;
  text-decoration: none;
}
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
}
ul {
  margin-bottom: 0;
}
.m0 {
  margin: 0;
}
.p0 {
  padding: 0;
}
.center {
  text-align: center;
}
.v-center {
  display: inline-block;
  vertical-align: middle;
}
.rel {
  position: relative;
}
.w100p {
  width: 100%;
}
ul {
  list-style-type: none;
}
a,
button {
  outline: 0;
  border: 0;
  background: 0 0;
}
a::-moz-focus-inner {
  border: 0;
}
a,
a:focus,
a:hover,
p a:active {
  color: inherit;
  outline: 0;
  text-decoration: none;
}
button {
  appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  outline: 0;
  border: none;
  font-family: inherit;
  border-radius: 0;
}
::-webkit-scrollbar {
  background: #fff;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #008779;
  transition: 0.3s all ease-in-out;
}
::-webkit-scrollbar-thumb:hover {
  background: #cf9e69;
}
body,
html {
  background: #efefef;
  height: 100%;
  font-family: "DM Sans", sans-serif;
}
body {
  animation: fadeIn 1.2s ease-in-out forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#center-text {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#chat-circle {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background: #f5821f;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: #fff;
  padding: 25px;
  cursor: pointer;
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.6), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
#chat-circle svg {
  width: 30px;
  height: 30px;
  margin: auto;
}
.chat-box {
  display: none;
  background: #efefef;
  position: absolute;
  right: 30px;
  bottom: 50px;
  width: 416px;
  max-width: 85vw;
  max-height: 90vh;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 5px 35px 9px #ccc;
}
.chat-box-toggle {
  cursor: pointer;
  position: absolute;
  top: 15px;
  z-index: 1;
  right: 15px;
}
.chat-box-header {
  background: linear-gradient(123.75deg, #f5821f 1.87%, #ff5c00 120.46%);
  border-radius: 20px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  color: #fff;
  font-size: 20px;
  padding: 50px 15px 150px 50px;
}
.chat-box-body {
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  margin: -100px 15px 15px;
  position: relative;
  height: 400px;
  height: 100%;
  background: #fff;
  border: 1px solid #e4e4e4;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}
.chat-msg {
  clear: both;
}
.chat-start-button {
  padding: 10px;
  border: 1px solid #d1d1d1;
  border-radius: 100px;
  display: block;
  max-width: 290px;
  margin: auto;
  text-align: center;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  transition: 0.5s all cubic-bezier(0.815, 1.65, 0.4, 0.68);
}
.chat-start-button:hover {
  box-shadow: none;
}
.chat-start-button svg {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
li,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.chat-box-body .bot-logo {
  padding: 18px 15px 18px 15px;
  background: linear-gradient(180deg, #ff7600 0, #ff5c00 100%);
  width: 66px;
  height: 66px;
  border-radius: 50%;
  position: relative;
  margin-top: -33px;
  left: 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}
.chat-box-body .bot-logo svg {
  width: 36px;
  height: 30px;
}
ul li:last-child {
  margin-bottom: 30px;
}
.faq-list {
  position: relative;
  border: 1px solid #e1e1e1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  margin: 10px 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}
.faq-list::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  left: 9px;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  background: rgba(255, 118, 0, 0.8);
  box-shadow: 0 0 0 3px rgba(255, 118, 0, 0.3);
}
.bot-name {
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
}
.bot-greet {
  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
}
.bot-greet span {
  margin-left: 20px;
}
.bot-msg {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}
.chat-box-header p {
  padding-top: 8px;
  padding-bottom: 8px;
}
.fq {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  margin-top: 15px;
}
.chat-box.active .bot-greet,
.chat-box.active .bot-msg,
.chat-box.active .bot-name,
.chat-box.active .chat-box-body,
.chat-box.active .chat-box-header,
.chat-box.active .chat-box-toggle,
.chat-box.active .chat-start,
.chat-box.active .fq,
.chat-box.active ul li {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}
.chat-box.active .chat-box-header {
  animation-delay: 0.25s;
}
.chat-box.active .bot-name {
  animation-delay: 0.75s;
}
.chat-box.active .bot-greet {
  animation-delay: 1.25s;
}
.chat-box.active .bot-msg {
  animation-delay: 1.5s;
}
.chat-box.active .chat-box-body {
  animation-delay: 2s;
}
.chat-box.active .fq {
  animation-delay: 2.5s;
}
.chat-box.active ul li:nth-child(1) {
  animation-delay: 3.25s;
}
.chat-box.active ul li:nth-child(2) {
  animation-delay: 3.75s;
}
.chat-box.active ul li:nth-child(3) {
  animation-delay: 4.25s;
}
.chat-box.active ul li:nth-child(4) {
  animation-delay: 4.75s;
}
.chat-box.active .chat-box-toggle,
.chat-box.active .chat-start {
  animation-delay: 5.5s;
}
@media screen and (max-width: 767px) {
  .chat-box-header {
    padding: 30px 15px 140px 30px;
  }
  .chat-start-button {
    font-size: 14px;
  }
  .chat-box-body {
    padding: 0 15px 15px;
  }
}
